#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  
}
.text-title{
  text-align: center;
  padding: 10px;
  
}
.card-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.card{
  border-radius: 20px;
  padding: 15px;
}
.country-visited{
  background-color:cadetblue;
}
.btn-visited{
  background-color: white;
  color: black;
}
.btn-not-visited{
  background-color: black;
  color: white;
}
.flag-img{
  width: 100%;
  height: 200px;
  object-fit: cover;
}